#intro {
    width: 100%;
    background-color: rgba(12, 63, 139, 0.705);
    color: white;
    /* border: 1px solid black; */

}

#firstDiv {
    padding-left: 10%;
    padding-top: 15%;
    padding-bottom: 5%;
    /* border: 1px solid black; */


}

#secondDiv {
    padding-top: 5%;
}

#hello {
    font-size: 300%;
    font-family: 'Dancing Script', cursive;
}

#myname {
    font-size: 500%;
    font-family: 'Smokum', cursive;
}

#myImage {
    width: 50%;
    border-radius: 50%;
}

#full {
    font-family: 'Anton', sans-serif;
}

#about {
    color: rgba(5, 5, 99, 0.904);
}
#Education {
    color: rgba(5, 5, 99, 0.904);
}#Skill {
    color: rgba(5, 5, 99, 0.904);
}#Interests {
    color: rgba(5, 5, 99, 0.904);
}#projects {
    color: rgba(5, 5, 99, 0.904);
}


#foot {
    background-color: white;
    color: #007bff;
    padding: 10%;

}

#last {
    background-color: rgba(12, 63, 139, 0.705);
    padding: 1%;
    color: white;
    padding-left: 5%;

}
